#hero-wrapper-duplicate {
    width: 100%;
    height: 100%;
    background: url(../images/hero.jpeg) center/cover no-repeat;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#hero-wrapper-1 {
    width: 100%;
    height: 76svh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}

#hero-wrapper-2 {
    width: 100%;
    height: 12svh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background: #0d0d0d;
}

#hero-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}

#hero-left-top {
    width: 100%;
    height: 44%;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#hero-left-top-left {
    width: 70%;
    height: 100%;
    background: #0d0d0d;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.625rem;
    /* 10px */
}

#hero-left-top-left span.above {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.25rem;
    /* 20px */
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 0.25rem;
    font-style: italic;
}

#hero-left-top-left span.below {
    color: rgba(204, 198, 192, 0.9);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8125rem;
    /* 13px */
    line-height: 0.9375rem;
    /* 15px */
    font-weight: 300;
    word-spacing: 0.15rem;
    text-wrap: nowrap;
    word-wrap: normal;
}

#hero-left-top-left .big-letter {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.875rem;
    /* 30px */
    line-height: 1.875rem;
    /* 30px */
    font-weight: 700;
}

#hero-left-top-right {
    width: 30%;
    height: 100%;
    background: linear-gradient(to bottom, #0d0d0d, #0d0d0d80);
    backdrop-filter: blur(0.1px);
    box-shadow: 35px 100px 100px 10px rgba(120, 120, 120, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

#hero-left-top-right span {
    color: rgba(255, 235, 59, 0.7);
    text-shadow: 0 0 20px rgba(255, 235, 59, 0.3);
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.625rem;
    /* 26px */
    line-height: 1.625rem;
    /* 26px */
    font-weight: 600;
    gap: 2px;
}

#hero-left-top-right span:nth-child(1) {
    padding-top: 1.875rem;
    /* 30px */
}

#hero-left-top-right span:nth-last-child(1) {
    padding-top: 0.625rem;
    /* 10px */
}

#hero-left-bottom {
    width: 100%;
    height: 50%;
    background: #0d0d0d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#hero-left-bottom #main-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3.125rem;
    /* 50px */
}

#hero-left-bottom #main-title #name {
    width: max-content;
    font-family: 'Poppins', sans-serif;
    color: rgba(253, 216, 53, 0.7);
    font-size: 10.625rem;
    /* 170px */
    line-height: 10.625rem;
    /* 170px */
    font-weight: 400;
    font-style: normal;
}

#hero-left-bottom .line {
    width: 100%;
    height: 0.0625rem;
    /* 1px */
    background: rgba(253, 216, 53, 0.7);
}

#hero-left-bottom #main-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3.125rem;
    /* 50px */
}

#hero-left-bottom #main-links #buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#hero-left-bottom #main-links #buttons button {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    /* 12px */
    line-height: 0.9375rem;
    /* 15px */
}

#hero-middle {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #0d0d0d, #0d0d0d80);
    backdrop-filter: blur(0.1px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1.875rem;
    /* 30px */
    gap: 0.125rem;
    /* 2px */
    cursor: pointer;
}

#hero-middle span {
    color: rgba(255, 235, 59, 0.7);
    text-shadow: 0 0 20px rgba(255, 235, 59, 0.3);
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.625rem;
    /* 26px */
    line-height: 1.625rem;
    /* 26px */
    font-weight: 600;
}

#hero-middle span:nth-last-child(1) {
    padding-top: 0.625rem;
    /* 10px */
}

#hero-right {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #0d0d0d, #0d0d0d80);
}

#hero-right-top {
    width: 100%;
    height: 76%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1.875rem;
    /* 30px */
    cursor: pointer;
}

#hero-right-top span {
    color: rgba(255, 235, 59, 0.7);
    text-shadow: 0 0 20px rgba(255, 235, 59, 0.3);
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.625rem;
    /* 26px */
    line-height: 1.625rem;
    /* 26px */
    font-weight: 600;
    gap: 2px;
}

#hero-right-top span:nth-last-child(1) {
    padding-top: 0.625rem;
    /* 10px */
}

#hero-right-bottom {
    width: 100%;
    height: 18%;
    background: #0d0d0d;
    color: #ccc6c0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9375rem;
    /* 15px */
    line-height: 1.25rem;
    /* 20px */
    word-spacing: 0.15rem;
}

#hero-right-bottom span span {
    color: rgba(255, 238, 88, 0.7);
    font-weight: 500;
    text-transform: uppercase;
}

.adj {
    width: 2%;
    height: 100%;
    background: #0d0d0d;
}

.adj-padd {
    width: 10%;
    height: 100%;
    background: #0d0d0d;
}

.adj-horr {
    width: 100%;
    height: 6%;
    background: #0d0d0d;
}

#home-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0d0d0d;
    /* gap: 3rem; */
}

#intro-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* padding: 0 10%; */
    /* gap: 3rem; */
}

#intro-section .intro-content {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: flex-end; */
    align-items: center;
    box-sizing: border-box;
    gap: 3rem;
    background: #0d0d0d;
    border-radius: 10rem;
    padding: 0rem calc(10% + 2rem);
}

#intro-section .intro-content .intro-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-section .intro-content .intro-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 0 3rem rgba(255, 235, 59, 0.1)) brightness(0.8);
    border-radius: 3rem;
}

#intro-section .intro-content .intro-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: max-content;
}

#intro-section .intro-content .intro-text .intro-text-description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    height: 100%;
    box-sizing: border-box;
}

#intro-section .intro-content .intro-text .intro-text-description .main-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#intro-section .intro-content .intro-text .intro-text-description .main-title .title {
    color: rgba(255, 235, 59, 0.7);
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    /* 40px */
    line-height: 3rem;
    /* 40px */
    font-weight: 500;
    text-transform: uppercase;
}

#intro-section .intro-content .intro-text .intro-text-description .description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 5rem;
}

#intro-section .intro-content .intro-text .intro-text-description .description span {
    color: rgba(204, 198, 192, 0.9);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    /* 16px */
    line-height: 2rem;
    /* 24px */
}

.horr-line {
    width: 100%;
    height: 1px;
    background: rgba(255, 235, 59, 0.7);
}

#faq-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5rem 10%;
    background: rgba(0, 0, 0, 1);
    border-radius: 10rem;
}

#faq-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    /* 40px */
    line-height: 3.5rem;
    /* 56px */
    font-weight: 600;
    color: rgba(255, 238, 88, 0.7);
}

#faq-wrapper {
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#faq-type-selector {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    transition: all 5s ease-in-out;
}

#faq-type-selector div:hover {
    text-shadow: 0 0 1rem rgba(255, 238, 88, 0.1);
    /* 16px -> rem */
    color: rgba(255, 238, 88, 0.5);
    cursor: pointer;
    width: max-content;
    gap: 1.5rem;
}

#faq-type-selector .selected {
    color: rgba(255, 238, 88, 0.8);
    text-shadow: 0 0 1.25rem rgba(255, 238, 88, 0.1);
    /* 20px -> rem */
    gap: 1.5rem;
    cursor: default;
}

#faq-type-selector div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    /* 48px */
    line-height: 2.5rem;
    /* 48px */
    cursor: pointer;
    color: rgba(204, 198, 192, 1);
    text-shadow: 0 0 1rem rgba(255, 238, 88, 0.3);
    /* 16px -> rem */
}

.faqs {
    width: 60%;
    height: 50vh;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 238, 88, 0.7) transparent;
    overflow: auto;
    box-sizing: border-box;
    padding-right: 2rem;
    overscroll-behavior: contain;
}

.faq-item {
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    background: #0d0d0d;
    box-shadow: 0 0 1rem rgba(255, 238, 88, 0.1);
    /* 50px -> rem */
    border-radius: 0.5rem;
    margin: 0 0 2rem 0;
}

.question-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgba(253, 216, 53, 0.7);
    cursor: pointer;
}

.faq-answer {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 400;
    color: rgba(204, 198, 192, 0.9);
    margin-top: 1rem;
}

#contact-us-mini {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10%;
}

#contact-us-mini-content {
    width: 100%;
    background: rgba(255, 238, 88, 0.5);
    height: 40vh;
    border-radius: 0.2rem 0.2rem 10rem 10rem;
    box-shadow: inset 0 0 3.125rem 3.125rem rgba(255, 238, 88, 0.5);
    /* 50px -> rem */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#contact-us-mini-image {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 10rem;
}

#contact-us-mini-image img {
    width: 350px;
    height: auto;
}

#contact-us-mini-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 5%;
    gap: 3rem;
}

#contact-us-mini-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-us-mini-text span {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

#contact-us-mini-text span:nth-child(3) {
    font-size: 1rem;
    line-height: 2rem;
}

#contact-us-mini-button button {
    color: rgba(255, 255, 255, 0.8) !important;
    border-color: rgba(255, 255, 255, 1) !important;
}

#contact-us-mini-button button:hover {
    color: rgba(0, 0, 0, 1) !important;
    border-color: rgba(0, 0, 0, 1) !important;
}

.hidden {
    display: none;
}

.rotate {
    transform: rotate(180deg);
}

.lag-scroll {
    position: sticky;
    top: 0;
    will-change: transform;
    transition: transform 0.1s ease-out;
}