{% extends "base.html" %}

{% block title %}OPC | Creators{% endblock %}


{% block style %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="/static/css/creators.css">
<link rel="stylesheet" href="/static/images/favicons/favicon.ico">
{% endblock %}


{% block content %}
<!-- Title Section Start -->
    <section id="title-section">
        <div>
            <span>Building partnerships. Driving growth.</span>
        </div>
    </section>
    <!-- Title Section End -->

    <!-- Hero Section Start -->
    <section id="cr-hero-section">
        <div id="cr-hero-left">
            <div id="cr-hero-left-top">
                <div id="cr-hero-left-top-title">Creators,</div>
            </div>
            <div id="cr-hero-left-bottom">
                <div id="cr-hero-left-bottom-text">
                    At OPC, we believe influencers are more than just voices on social media — they are storytellers,
                    trendsetters, and community builders. Our mission is to create meaningful collaborations where your
                    creativity meets the right brands and sponsors, unlocking opportunities that go beyond one-time
                    campaigns.
                </div>
                <div id="cr-hero-left-bottom-btns">
                    <button type="button" id="cr-hero-schedule-a-meet-btn">SCHEDULE A MEET <i
                            class='bx  bx-arrow-right-stroke'></i></button>
                    <a href="./terms-and-conditions.html">OUR TERMS & CONDITIONS</a>
                </div>
            </div>
        </div>
        <div id="cr-hero-right">
            <img src="/static/images/creators-promo.png" alt="Creators Hero Image" />
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Main Content Start -->
    <section id="cr-main-content">
        <div id="cr-main-content-title">
            <span>Why work with us?</span>
            <span>Here's a glimpse of the many perks you’ll enjoy when you <a href="sign-in.html">join us.</a></span>
        </div>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="cr-card-image">
                        <img src="/static/images/why-us-creator-1.png" alt="">
                    </div>
                    <div class="cr-card-text">
                        <span>Access to leading Brands & Sponsors.</span>&nbsp;We connect you with businesses that align
                        with your niche, values, and audience, ensuring authentic collaborations.
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cr-card-image">
                        <img src="/static/images/why-us-creator-2.png" alt="">
                    </div>
                    <div class="cr-card-text">
                        <span>Fair compensation & transparent deals.</span>&nbsp;No hidden agendas — just clear
                        agreements that value your creativity and effort.
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cr-card-image">
                        <img src="/static/images/why-us-creator-3.png" alt="">
                    </div>
                    <div class="cr-card-text">
                        <span>Long-term relationships.</span>&nbsp;We focus on sustainable partnerships that grow with
                        you, not just quick campaigns.
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cr-card-image">
                        <img src="/static/images/why-us-creator-4.png" alt="">
                    </div>
                    <div class="cr-card-text">
                        <span>Support at every step.</span>&nbsp;From strategy and negotiation to execution and
                        analytics, we provide end-to-end support so you can focus on what you do best — creating.
                    </div>
                </div>
            </div>
        </div>

        <div class="scroll-left-right">
            <span class="scroll-left"><i class='bx  bx-chevron-left'></i></span>
            <span class="scroll-right"><i class='bx  bx-chevron-right'></i></span>
        </div>
    </section>
    <!-- Main Content End -->

    <!-- Requirements Start -->
    <section id="cr-requirements">
        <div id="cr-requirements-content">
            <span>Who can be on-boarded?</span>
            <span>Whether you’re a micro-influencer building your niche or an established creator with a large
                following, we welcome you all.&nbsp;<span>A few of the many platforms that we cater to,
                    includes:</span></span>
        </div>
        <div id="cr-requirements-list">
            <div><i class='bxl  bx-youtube'></i> YouTube</div>
            <div><i class='bxl  bx-instagram-alt'></i> Instagram</div>
            <div><i class='bxl  bx-snapchat'></i> Snapchat</div>
            <div><i class='bxl  bx-facebook'></i> Facebook</div>
            <div><i class='bxl  bx-twitter-x'></i> X (formerly Twitter)</div>
            <div><i class='bxl  bx-linkedin'></i> LinkedIn</div>
            <div><i class='bxl  bx-whatsapp'></i> WhatsApp</div>
            <div><i class='bxl  bx-spotify'></i> Spotify</div>
        </div>
        <!-- <div id="cr-many-more">
            <span>Check the full list</span><i class='bx  bx-chevron-right'  ></i>
        </div> -->
    </section>
    <!-- Requirements End -->

    <!-- Conclusion Start -->
    <section id="cr-conclusion">
        <video src="/static/videos/cr-bg.mp4" loop muted autoplay></video>
        <div id="cr-conclusion-content">
            <span>Let’s Create Together!</span><span>With our network of brands and sponsors, your creativity turns into
                opportunities, growth, and recognition.<br><br>Whether you’re starting your journey or scaling your
                influence, we’re here to support you in every step of the way.</span>
        </div>
    </section>
    <!-- Conclusion End -->
{% endblock %}


{% block script %}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/static/js/creators.js"></script>
{% endblock %}
