<footer>
    <div id="footer-top">
        <div id="footer-top-left">
            <div id="footer-top-left-top">
                <div id="footer-brands">
                    BRANDS
                </div>
                <div id="footer-logo">
                    <img src="./static/images/logo.png" alt="OPC Logo" />
                </div>
                <div id="footer-creators">
                    CREATORS
                </div>
            </div>
            <div id="footer-top-left-bottom">
                <span>Own Professional Collaboration</span>
                <span>Where creators and brands collaborate, not just connect!</span>
            </div>
            <div id="footer-schedule-a-meet">
                <button id="footer-schedule-a-meet-btn">SCHEDULE A MEET <i
                        class='bx  bx-arrow-right-stroke'></i></button>
                <a href="./terms-and-conditions.html">OUR TERMS & CONDITIONS</a>
            </div>
        </div>
        <div id="footer-links">
            <div id="footer-quick-links">
                <span>QUICK LINKS</span>
                <a href="index.html">Home</a>
                <a href="brands.html">Brands</a>
                <a href="event-partners.html">Event Partners</a>
                <a href="creators.html">Creators</a>
                <a href="contact-us.html">Contact Us</a>
                <div id="footer-socials">
                    <a href="https://www.instagram.com/owncollab/"><i class='bxl  bx-instagram'></i></a>
                    <a href="https://www.facebook.com/profile.php?id=61584250147710"><i
                            class='bxl  bx-facebook'></i></a>
                    <a href="https://www.x.com/theowncollab/"><i class='bxl  bx-twitter-x'></i></a>
                </div>
            </div>
        </div>
        <div id="footer-newsletters">
            <div id="footer-newsletters-title">
                <span>SUBSCRIBE TO OUR NEWSLETTERS</span>
            </div>
            <div id="footer-newsletters-form">
                <form>
                    <input type="email" placeholder="" id="footer-newsletters-email" required />
                    <label for="footer-newsletters-email">Email</label>
                    <button type="button">SUBSCRIBE <i class='bx  bx-arrow-right-stroke'></i></button>
                </form>
            </div>
        </div>
    </div>
    <div id="footer-bottom">
        <p>&copy; 2025 Own Professional Collaboration. <a href="privacy-policy.html">Privacy
                Policy</a> | <a href="terms-and-conditions.html">Terms & Conditions</a></p>
    </div>
</footer>