<header>
    <nav>
        <div id="brands">
            <a href="./brands.html">BRANDS</a>
        </div>
        <div id="event-partner">
            <a href="./event-partners.html">EVENT PARTNERS</a>
        </div>
        <div id="logo">
            <a href="./index.html">
                <img src="./static/images/logo.png" alt="OPC Logo" />
            </a>
        </div>
        <div id="creators">
            <a href="./creators.html">CREATORS</a>
        </div>
        <div id="sign-in">
            <button type="button">SIGN IN <i class='bx  bx-arrow-right-stroke'></i></button>
        </div>
        <div id="mobile-menu-btn"><i class="bx bx-menu"></i></div>
    </nav>
</header>